.posts-grid {
  overflow-y: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -15px;
  width: auto;
}

.posts-grid-column {
  padding-left: 15px;
  background-clip: padding-box;
}

.posts-grid-column > article {
    margin-bottom: 20px;
}
